<<<<<<< HEAD
/* STYLE CSS GSB */


body {
        background: #ECE9E6; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #ECE9E6 , #cccccc); /* Chr$
        background: linear-gradient(to left, #ECE9E6 , #cccccc); /* W3C, IE 10+$
}




=======
/* WORKFLOW CONTEXTE GSB */

body {
	background: #ECE9E6; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #ECE9E6 , #cccccc); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #ECE9E6 , #cccccc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
>>>>>>> c2830104c3b063b1c0014081a2d7d2ef37e8d842
