/* STYLE CSS GSB */


body {
        background: #ECE9E6; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #ECE9E6 , #cccccc); /* Chr$
        background: linear-gradient(to left, #ECE9E6 , #cccccc); /* W3C, IE 10+$
}




